* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'PT Serif', "Exo 2", sans-serif;
  background-color: black;
  color: whitesmoke;
  margin: 0;
  padding: 0;
  height: 100%;
}

html {
  scroll-behavior: smooth;
  height: 100%;
}

.hero {
  height: 100vh;
  color: white;
  font-size: 20px;
}

.mainName {
  color: white;
  border-bottom: 1px solid;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* responsive navbar */
.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0rem 1rem;
  height: 70px;
  background-color: rgba(0, 0, 0, 0.95);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

.burger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #b90808;
}

.navMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  right: 100px;
  padding: 0;
}

.navItem {
  margin-left: 2rem;
}

.navItem a {
  font-size: 1.6rem;
  font-weight: 400;
  color: #a3a3a3;
}

a.active {
  color: #ff0000;
  border-bottom: 1px solid;
}

.navItem a:hover {
  color: #ff0000;
  border-bottom: 1px solid;
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  .hero {
    height: 120vh;
  }
  .navMenu {
    position: fixed;
    z-index: 99;
    right: -125%;
    top: 59px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #353535;
    color: whitesmoke;
    width: 90%;
    border-radius: 10px;
    text-align: center;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    -webkit-box-shadow: 0 10px 27px rgba(252, 251, 251, 0.159);
            box-shadow: 0 10px 27px rgba(252, 251, 251, 0.159);
  }
  .navMenu.active {
    right: 15px;
  }
  .navItem {
    margin: 2.5rem 0;
  }
  .burger {
    display: block;
    position: fixed;
    z-index: 99;
    padding: 5px 10px;
    top: 20px;
    right: 20px;
    background-color: #686464;
    border-radius: 8px;
  }
  .burger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .burger.active .bar:nth-child(1) {
    -webkit-transform: translateY(8px) rotate(45deg);
            transform: translateY(8px) rotate(45deg);
  }
  .burger.active .bar:nth-child(3) {
    -webkit-transform: translateY(-8px) rotate(-45deg);
            transform: translateY(-8px) rotate(-45deg);
  }
}

/* parallax background */
.parallax {
  background-image: url("./img/mrrobot.jpg");
  height: 100%;
  width: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container-box {
  background-color: rgba(0, 0, 0, 0.75);
  width: 55%;
  height: 70%;
  border-radius: 10px;
}

@media only screen and (max-width: 768px) {
  .container-box {
    width: 90%;
    height: 75%;
  }
}

@media only screen and (max-device-width: 1023px) {
  .parallax {
    background-attachment: scroll;
  }
}

/* home intro */
.my-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 20px;
  font-size: 50px;
}

.intro {
  margin: 40px;
  font-size: 20px;
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social {
  margin: 30px 0px;
  padding: 20px;
}

.social svg:hover {
  fill: #ff0000;
}

/* skills */
.skills {
  height: 130vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.skill-container {
  padding: 15px 50px;
  height: 80%;
  width: 70%;
  background-color: rgba(60, 60, 60, 0.576);
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.skill-logo {
  height: 50px;
  padding: 0px 10px;
  margin: 30px 0px;
  -webkit-transition: -webkit-transform .4s;
  transition: -webkit-transform .4s;
  transition: transform .4s;
  transition: transform .4s, -webkit-transform .4s;
}

.skill-logo:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.soft-skills {
  padding: 0px 0px 0px;
}

.p-skills {
  border-bottom: 1px solid white;
  margin: 0px 0px 20px;
}

/* skill bar */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Container for skill bars */
.bar-container {
  width: 100%;
  height: 20px;
  background-color: #ddd;
}

.bar-skills {
  height: 20px;
  text-align: right;
  padding-top: 0px;
  padding-bottom: 10px;
  color: white;
}

.teamplayer {
  width: 90%;
  background-color: #808080;
}

.problem {
  width: 85%;
  background-color: #808080;
}

.patience {
  width: 95%;
  background-color: #808080;
}

.communication {
  width: 80%;
  background-color: #808080;
}

@media only screen and (max-width: 768px) {
  .skills {
    height: 150vh;
  }
  .skill-container {
    height: 80%;
    width: 90%;
  }
  .skill-logo {
    height: 40px;
    margin: 20px 0px;
  }
}

/* about me */
.about {
  height: 100vh;
  background-color: #374141;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-container {
  background-color: rgba(22, 22, 22, 0.898);
  border-radius: 20px;
  width: 90%;
  height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about-info {
  width: 40%;
  padding: 20px;
  -webkit-box-flex: 50%;
      -ms-flex: 50%;
          flex: 50%;
}

.about-info p {
  margin: 10px 0px;
}

.headshot {
  height: 200px;
  width: 200px;
  border-radius: 20%;
  border: 1px solid #f50707;
  margin: 20px;
}

.about-info.left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 45px;
}

.download-button {
  border: 1px solid red;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.download-button:hover {
  background-color: red;
}

.download-button:hover .download-icon {
  fill: black;
}

.download-button:hover p {
  color: black;
}

.download-icon {
  width: 40px;
  height: 40px;
  margin: 10px;
  fill: red;
}

.download-button p {
  margin: 10px;
  color: red;
}

.about-info h2 {
  font-size: 30px;
  padding: 20px;
}

@media only screen and (max-width: 768px) {
  .about {
    height: 140vh;
  }
  .about-container {
    width: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .about-info {
    height: 100%;
    width: 100%;
    padding: 10px;
    -webkit-box-flex: 0%;
        -ms-flex: 0%;
            flex: 0%;
  }
  .headshot {
    height: 100px;
    width: 100px;
    margin: 10px;
  }
  .about-info.left {
    padding: 20px;
  }
  .about-info h2 {
    padding: 10px;
  }
}

/* projects */
.projects {
  height: 140vh;
}

.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.project-img {
  width: 350px;
  height: 220px;
  margin: 10px;
  border-radius: 10px;
}

/* project cards flip */
.flip-card {
  background-color: transparent;
  width: 450px;
  height: 300px;
  border-radius: 8px;
  -webkit-perspective: 1000px;
          perspective: 1000px;
  margin: 30px;
  padding: 0px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  /* Safari */
  backface-visibility: hidden;
  margin: 0;
  padding: 0;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
  border-radius: 0px 20px;
}

.flip-card-back {
  background-color: #ff0000;
  color: black;
  border-radius: 20px 0px;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.project-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

a.demo {
  border: 1px solid black;
  border-radius: 10px;
  color: black;
  padding: 20px 10px;
  margin: 0px 10px;
  width: 150px;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

a.demo img.live {
  width: 45px;
  height: 45px;
}

a.demo:hover {
  background-color: black;
  color: red;
}

a.demo:hover svg {
  fill: red;
}

a.demo:hover img.live {
  fill: red;
}

@media only screen and (max-width: 768px) {
  .projects {
    height: 250vh;
  }
  .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .flip-card {
    width: 380px;
    height: 300px;
  }
}

/* contact */
.contact {
  height: 100vh;
  background-color: #374141;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding: 50px;
}

.contact-container {
  margin: 50px;
}

.form-control {
  width: 400px;
  border: none;
  border-radius: 10px;
  padding: 10px;
  margin: 5px;
  background-color: white;
}

.form-control :focus {
  border: none;
}

.submit {
  width: 180px;
  border: none;
  border-radius: 10px;
  padding: 5px;
  margin: 5px;
  background-color: white;
}

.submit:hover {
  background-color: #c0bebe;
}
/*# sourceMappingURL=style.css.map */