body {
    font-family: 'PT Serif', "Exo 2", sans-serif;
    background-color: black;
    color: whitesmoke;
    margin: 0;
    padding: 0;
  }

  html{
      scroll-behavior: smooth;
  }

  .hero {
    height: 100vh;
    color: white;
    font-size: 20px;
  }

li {
    list-style: none;
}

a  {
    text-decoration: none;
}

  /* responsive navbar */
    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0rem 1.5rem;
}

    .burger {
        display: none;
    }

    .bar {
        display: block;
        width: 25px;
        height: 3px;
        margin: 5px auto;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        background-color: #b90808;
    }

    .navMenu {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .navItem {
        margin-left: 2rem;
    }
    
    .navItem a{
        font-size: 1.6rem;
        font-weight: 400;
        color: #475569;
    }

    a.active {
        color: #f81717;
        border-bottom: 1px solid ;
    }
    
    .navItem a:hover{
        color: #f81717;
        border-bottom: 1px solid ;
        cursor: pointer;
    }

    @media only screen and (max-width: 700px) {
        .navMenu {
            position: fixed;
            left: -125%;
            top: 39px;
            flex-direction: column;
            background-color: #fff;
            width: 90%;
            border-radius: 10px;
            text-align: center;
            transition: 0.3s;
            box-shadow:
                0 10px 27px rgba(0, 0, 0, 0.05);
        }
    
        .navMenu.active {
            left: 0;
        }
    
        .navItem {
            margin: 2.5rem 0;
        }
    
        .burger {
            display: block;
            position: fixed;
            padding: 5px 10px;
            top: 20px;
            right: 20px;
            background-color: rgb(104, 100, 100);
            border-radius: 8px;
        }

        .burger.active .bar:nth-child(2) {
            opacity: 0;
        }
    
        .burger.active .bar:nth-child(1) {
            transform: translateY(8px) rotate(45deg);
        }
    
        .burger.active .bar:nth-child(3) {
            transform: translateY(-8px) rotate(-45deg);
        }
    
    }


  .about {
      height: 100vh;
      background-color: darkslategray;
  }


  .projects {
    height: 100vh;
    
    }

    .info {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .container {
        display: flex;
        flex-direction: row;
    }

    @media only screen and (max-width: 700px) {
        .container {
            display: flex;
            flex-direction: column;
        }
    }

/* project cards flip */  
    .flip-card {
        background-color: transparent;
        width: 300px;
        height: 200px;
        border: 1px solid #f1f1f1;
        border-radius: 8px;
        perspective: 1000px; 
        margin: 10px;
    }

    .flip-card-inner {
        position: relative;
        width: 100%;
        height: 100%;
        border-radius: 8px;

        text-align: center;
        transition: transform 1s;
        transform-style: preserve-3d;
      }

      .flip-card:hover .flip-card-inner {
        transform: rotateY(180deg);
      }

      .flip-card-front, .flip-card-back {
        position: absolute;
        width: 100%;
        height: 100%;
        -webkit-backface-visibility: hidden; /* Safari */
        backface-visibility: hidden;
      }

      .flip-card-front {
        background-color: #bbb;
        color: black;
        border-radius: 8px;

      }

      .flip-card-back {
        background-color: dodgerblue;
        color: white;
        border-radius: 8px;
        transform: rotateY(180deg);
      }